.input {
  width: 100%;
  position: relative;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;

  &__input {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  &__error {
    font-size: 16px;
    color: #d14949;
  }

  &__variants-wrapper {
    margin-top: 47px;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    background-color: white;
  }

  &__variant {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(115, 115, 115);
    padding: 10px 15px;

    &:hover {
      background-color: rgb(238, 238, 238);
      cursor: pointer;
    }
  }
}
